---
- name: nginx-proxy-server-confiquration
  become: true
  hosts: nginx

  tasks:
    - name: install nginx
      get_url:
        url: http://nginx.org/keys/nginx_signing.key
        dest: ~/
    - name: edit file
      lineinfile:
        path: /etc/apt/sources.list.d/nginx.list
        line: deb http://nginx.org/packages/mainline/ubuntu/ noble nginx
        create: yes
    - name: install nginx using apt
      apt:
        name: nginx
        state: present
      
    - name: start nginx  
      systemd:
        name: nginx
        enabled: yes

    - name: confiqure
      copy:
        dest: /etc/nginx/conf.d/nodeapp.conf
        content: |
          server {
            listen 80;
            listen [::]:80;

            server_name example.com;

            location / {
                proxy_pass http://localhost:3000/;
            }
          }

    - name: reload nginx conf
      command: nginx -s reload

