grafana:
  adminUser: admin
  adminPassword: admin123

  service:
    type: LoadBalancer
    port: 80

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-monitoring-kube-prometheus-prometheus:9090
        isDefault: true
      - name: Loki
        type: loki
        access: proxy
        url: http://loki.monitoring.svc.cluster.local:3100
        isDefault: false

