name: Doployment - Resuble Workflow

on: 
    workflow_call: 
      inputs:
        mongodb_uri:
          required: true
          type: string
        k8s-manifest-dir:
          description: Directory containing kubernetes manifests files
          default: kubernetes/
          required: true
          type: string
        environment:
          description: provide the Deployment Environment
          default: dev
          required: true
          type: string 
        namespace:
          description: provide the Namespace Environment 
          default: ns
          required: true
          type: string      
      secrets:
        k8s-kubeconfig:
          required: true
        mongodb-password:
          required: true
        aws-access-key-id:
          required: true
        aws-secret-access-key:
          required: true  

      outputs:
        application_url:
          value: ${{ jobs.reuse-deploy.outputs.APP_INGRESS_URL }}    
jobs:
    reuse-deploy:
      environment: 
          name: ${{ inputs.environment }}
          url: https://${{ steps.set-ingress-host.outputs.APP_INGRESS_HOST }}
      outputs:
          APP_INGRESS_URL: ${{ steps.set-ingress-host.outputs.APP_INGRESS_HOST }}
      runs-on: ubuntu-latest
      steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install kubectl CLI  
        uses: azure/setup-kubectl@v4
        with:
          version: 'latest'  
           
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.aws-access-key-id }}
          aws-secret-access-key: ${{ secrets.aws-secret-access-key }}
          aws-region: us-east-1

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig --name solar-system-application --region us-east-1
              
      - name: Fetch kubernetes Cluster Details
        run: |
         kubectl version --client=true    
         echo ====================================
         kubectl get nodes

      # - name: Install Helm
      #   uses: azure/setup-helm@v3

      # - name: Add Ingress-NGINX Repo
      #   run: helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx

      # - name: Update Helm Repos
      #   run: helm repo update

      # - name: Deploy NGINX Ingress Controller
      #   run: |
      #     helm upgrade --install ingress-nginx ingress-nginx/ingress-nginx \
      #       --namespace ingress-nginx \
      #       --create-namespace  
           
      - name: Replace Token in Manifest files
        uses: cschleiden/replace-tokens@v1
        with:
          tokenPrefix: '_{_'
          tokenSuffix: '_}_'
          files: '["${{ inputs.k8s-manifest-dir }}*.yaml"]'
        env:
          NAMESPACE: ${{ vars.NAMESPACE }}
          # REPLICAS: ${{vars.REPLICAS}}  
          IMAGE: adelelnimr/solar-systems:${{ github.sha }}
          # INGRESS_IP: ${{env.INGRESS_IP}}

      - name: Check files
        run: |
         cat ${{ inputs.k8s-manifest-dir }}*.yaml

      # - name: Fix replicas type
      #   run: |
      #    sed -i 's/replicas: "\(.*\)"/replicas: \1/' ${{ inputs.k8s-manifest-dir }}/deployment.yaml

      - name: Create development namespace if not exists
        run: |
          kubectl get ns ${{ inputs.namespace }} || kubectl create ns ${{ inputs.namespace }}
  
      # - name: Create MongoDB Scretes
      #   run: |
      #    kubectl -n ${{vars.NAMESPACE}} create secret generic mongo-db-creds \
      #    --from-literal=MONGO_URI=${{inputs.mongodb_uri}} \
      #    --from-literal=MONGO_USERNAME=${{env.MONGO_USERNAME}} \
      #    --from-literal=MONGO_PASSWORD=${{ secrets.mongodb-password}} \
      #    --save-config \
      #    --dry-run=client \
      #    -o yaml | kubectl apply -f -

      - name: Deploy to Dev ENV
        run: |
           kubectl apply -f ${{ inputs.k8s-manifest-dir }}

      - name: Wait for Ingress Hostname
        id: set-ingress-host
        run: |
         echo "Waiting for Ingress External Hostname..."
         EXTERNAL_HOST=""
         for i in {1..30}; do
           EXTERNAL_HOST=$(kubectl get svc external-ingress-nginx-controller -n ingress -o jsonpath='{.status.loadBalancer.ingress[0].hostname}')
           if [ ! -z "$EXTERNAL_HOST" ]; then
             break
           fi
           echo "Waiting 10s..."
           sleep 10
         done
         if [ -z "$EXTERNAL_HOST" ]; then
           echo "ERROR: Ingress hostname not assigned"
           exit 1
         fi
         echo "APP_INGRESS_HOST=$EXTERNAL_HOST" >> $GITHUB_OUTPUT


      - name: Output Application URL  
        run: |


          echo "Application URL: https://${{ steps.set-ingress-host.outputs.APP_INGRESS_HOST }}"  
